/* Work Sans Font CDN */ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles Start */

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #424242;
}
.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 24px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.main > section{
    margin-top: 130px;
}
/* Shared Styles End */

/* Header Styles Start */
.header{
    background-color: #FF900E1A;
}
/* Header Styles End */

/* Navbar Styles Start */
.nav{
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px 0;
}
.brand{
    font-size: 2.8125rem;
    font-weight: 700;
}
.nav-links{
    list-style-type: none;
    gap: 30px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}
/* Navbar Styles End */

/* Banner Styles Start */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px 0;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    line-height: 26px;
    margin: 32px 0;
}
.banner-profile img{
    width: 100%;
}
/* Banner Styles End */

/* Main Section Styles Start */
.main{
    max-width: 1440px;
    margin: 0 auto;
}
/* Main Section Styles End */

/* Teams Section Styles Start */ 
.teams{
    align-items: center;
    justify-content: center;
    gap: 72px;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-img img{
    width: 100%;
}

.our-features{
    max-width: 536px;
}
.features-title{
    font-size: 2.8125rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.span-1{
    font-weight: 500;
}
.features-description{
    line-height: 26px;
    margin-bottom: 32px;
}




/* Responsive Media Query */

/* Responsive For Small Device */
@media screen and (max-width: 576px) {
    .nav, .nav-links{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .banner{
        margin-top: 20px;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        max-width: 100%;
        margin: 24px;
    }
    .teams-img{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Responsive For Medium Device */
@media screen and (min-width: 576px) and (max-width: 768px) {
        .teams{
        flex-direction: column;
    }
        .our-features{
        margin: 0;
    }
}